<app-jovemdev-title></app-jovemdev-title>
<nav>
    <a routerLink="/exemplo-binding" routerLinkActive="linkSelected">Bindings</a>
    <a routerLink="/cal-imc" routerLinkActive="linkSelected">Calcula IMC</a>
    <a routerLink="/exemplo-class" routerLinkActive="linkSelected">Ng Class</a>
    <a routerLink="/exemplo-style" routerLinkActive="linkSelected">Ng Style</a>
    <a routerLink="/exemplo-model" routerLinkActive="linkSelected">Ng Model</a>
    <a routerLink="/exemplo-if" routerLinkActive="linkSelected">Ng If</a>
    <a routerLink="/exemplo-for" routerLinkActive="linkSelected">Ng For</a>
    <a routerLink="/exemplo-switch" routerLinkActive="linkSelected">Ng Switch</a>
    <a routerLink="/exemplo-pipes" routerLinkActive="linkSelected">Pipes</a>
    <a routerLink="/microondas" routerLinkActive="linkSelected">Microondas</a>
    <a routerLink="/pai-filho" routerLinkActive="linkSelected">Pai -> Filho</a>
    <a routerLink="/filho-pai" routerLinkActive="linkSelected">Filho -> Pai</a>
    <a routerLink="/service" routerLinkActive="linkSelected">Services</a>
</nav>
<router-outlet></router-outlet>
