.back{
    background-image: url('../../../assets/imagens/bg-speedtrack.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 83vh;
}
.conteudo{
    color: #fff;
    font-size: 36px;
    text-justify: auto;
    text-align: left;
    width: 780px;
    padding: 200px 300px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-style: normal;
}
