.back{
    background-image: url('../../../assets/imagens/bg-speedtrack.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 78.7vh;
}
.conteudo{
    color: #fff;
    font-size: 36px;
    text-justify: auto;
    text-align: left;
    width: 780px;
    padding: 200px 400px;
}
