<div class="lista-container">
    <h2>Lista de países</h2>
    <table>
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
      <tbody>
        <tr *ngFor="let p of paises">
          <td>{{p.name}}</td>
          <td>
            <button class="carregar" (click)="editaUser(p)"><i class="fa-sharp fa-solid fa-arrow-up fa-lg" style="color: #fafafa;"></i></button>
          </td>
          <td>
            <button class="deletar" (click)="deleteItem(p)"><i class="fa-solid fa-trash fa-lg" style="color: #ffffff;"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
