.tela{
    background-image: url('../../../../assets/imagens/bg-pistas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    height: 100%;
  }