.lista-container{
    margin: auto;
    margin-top: 36px;
    width: 1121px;
    height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.08);
    padding: 1em;
    border-top: 25px;
    margin-top: 50px;
 
    h2 {
        width: 85%;
        height: 43px;
        color: #212121;
        font-family: Prata;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        padding-top: 33px;
        margin-left: 96px;
    }

    
    th, td{
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    table{
        text-align: center;
        width: 80%;
        margin: auto;
        min-width: 300px;
        margin-top: 30px;
        font-family: 'Quicksand' - sans-serif;   
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }


    
    .carrega{
        background-color: #7f73b7;
        color: #fff;
        font-family: inherit;
        border-radius: 6px;
        margin: 20px auto;
        cursor: pointer;
        border: none;
        outline: none;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
}