<div class="lista-container">
    <h2>Lista de medicações</h2>
    <table>
        <tr>
            <th>Nome medicamento</th>
            <th>Valor</th>
            <th>Ações</th>
        </tr>
        <tbody>
            <tr *ngFor="let item of lista">
                <td>{{ item.nome }}</td>
                <td>{{ item.valor }}</td>
                <td>
                    <button class="" (click)="setMedicamentoSelecionado(item)">Carregar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>