<div class="container">
    <div class="form-container">
        <h2>Preencha os dados para cadastrar a corrida!</h2>
        <div class="componente">
            <label for="data">Data</label>
            <input type="date" placeholder="Digite a data da corrida" name="data" [(ngModel)]="corrida.data" id="data"
                required>
        </div>
        <div class="lista-suspensa">
            <label for="pista">Pistas </label>
            <select name="pista" id="pista" [(ngModel)]="corrida.id_pista" required>
                <option *ngFor="let pista of pistas" [ngValue]="pista">{{pista.name}}</option>
            </select>
        </div>
        <div class="lista-suspensa">
            <label for="pista">Campeonatos </label>
            <select name="campeonato" id="camps" [(ngModel)]="corrida.id_campeonato" required>
                <option *ngFor="let campeonato of campeonatos" [ngValue]="campeonato">{{campeonato.descricao}}</option>
            </select>
        </div>
        <div class="botao">
            <button class="salvar" (click)="insertCorrida()">Salvar <i class="fa-solid fa-floppy-disk fa-lg"
                    style="color: #ffffff; margin-left: 16px"></i></button>
        </div>
    </div>
</div>