header {
    height: 100px;
    text-align: center;
    margin-top: 24px;
    padding-top: 20px;
    padding: 10px;
    vertical-align: middle;
}
header > h1 {
    color: #274b59;
    font-weight: 700;
    font-size: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

.container {
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
    justify-content: center;
    align-items: center;
}

.container button {
    width: 180px;
    height: 55px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.308);
    margin: 10px;
    padding: 10px;
    background-color: #467f8c;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    vertical-align: middle;
}

.container button:hover {
    background-color: #274b59;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    display: block;
    width: 25%;
    padding: 15px;
    margin: 10px 10px 10px 10;
}