<header>
  <h1>SpeedTrack</h1>
  <h2>O Seu site de Cadastro de Corridas</h2>
</header>
<section>
  <nav>
    <a routerLink="/home" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-house fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Home</a
    >
    <a routerLink="/users" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-user fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Usuários</a
    >
    <a routerLink="/paises" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-earth-americas fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >País</a
    >
    <a routerLink="/speedway" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-road fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Pistas</a
    >
    <a routerLink="/equipes" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-people-group fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Equipes</a
    >
  </nav>
</section>
