@import "../../../../dist/SCSS/variaveis.scss";
@font-face {
    font-family: 'Speed';
    src: url('../../../../assets/fontes/Race\ Sport.ttf') format('opentype');
    font-weight: normal;
}

header{
    text-align: center;
    background: #000;
    
}
header > h1{
    padding-top: 16px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: 'Speed';
    color: $primary-text-color;
}
header > h2{
    padding: 6px 0px 36px 0px;
    color: $primary-text-color;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}
nav{
    text-align: center;
    padding: 20px;
    background: #000;
}
nav > a{
    padding: 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
    font-family: 'Speed';
    color: $primary-text-color;
    text-decoration: none;
}

a:hover{
    color: $terciary-text-color;
    background: $primary-background-color;
}

