<header>
  <h1>SpeedTrack</h1>
  <h2>O Seu site de Cadastro de Corridas</h2>
</header>
<section>
  <nav>
    <a routerLink="/home" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-house fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Home</a
    >
    <a routerLink="/users" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-user fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Usuários</a
    >
    <a routerLink="/paises" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-earth-americas fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >País</a
    >
    <a routerLink="/speedway" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-road fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Pistas</a
    >
    <a routerLink="/equipes" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-people-group fa-lg"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Equipes</a
    >
    <a routerLink="/campeonatos" routerLinkActive="linkSelected"
      ><i
        class="fa-solid fa-trophy"
        style="color: #ffffff; margin-right: 10px"
      ></i
      >Campeonatos</a
    >
    <a routerLink="/pilotos" routerLinkActive="linkSelected">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABMUlEQVR4nJ3UvStFYRzA8evlJknMUgYWLxObSbJQyqBMymYggyJJJsUobCYWYbEYDVJSEhn9AwahWLzER6euuvc497z4bs/pOd/n9/Y8uVwMaEAHWlEbt7csqMEMrpTygROMoTKtrAN3krkIok4je5aeB3THpZkmsjD3aIoSBjX7L4dRwnADsvCFlvBofEds/MQUpvGETaxhEbOYQD+WMFksbC9zclDTeczhOqaZbSVpozMmnQ1sYTthQm6KF80JNXpBT4LwDHW/iyq8J0jfsIB8GeEuukpClo5bDEQI10u+Y1U2zjGM6sL/yxgJnzKIy4ziR+xgD+NRtajAEE5lpy+ucYG8F0eFm5DEfqwsJG7BSuEhiOIa9amFReI8RnGA14LsGI2ZZRHyYHaDK/fn5f4B9JK1SBA8T4wAAAAASUVORK5CYII=">
      Pilotos</a
    >
  
  </nav>
</section>
