<div class="form-container">
  <h2>Formulário para cadastro de usuários!</h2>
  <div class="componente">
    <label for="nome">Nome</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Digite o nome do usuário"
      [(ngModel)]="user.name"
    />
    <button (click)="getUserByName()">Search</button>
  </div>

  <div class="componente">
    <label for="email">E-mail</label>
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Digite o e-mail do usuário"
      [(ngModel)]="user.email"
    />
  </div>
  <div class="componente">
    <label for="senha">Senha</label>
    <input
      type="password"
      name="senha"
      id="senha"
      placeholder="Digite a senha do usuário"
      [(ngModel)]="user.password"
    />
  </div>
  <label>
    <input
      type="radio"
      name="genero"
      value="ADMIN,USER"
      [(ngModel)]="user.roles"
    />
    ADM
  </label>
  <label>
    <input type="radio" name="genero" value="USER" [(ngModel)]="user.roles" />
    USER
  </label>
  <div class="botao">
    <button class="salvar" (click)="insertUser()">Salvar</button>
  </div>
</div>
