<div class="form-container">
  <h2>Formulário para cadastro de usuários!</h2>
  <div class="componente">
    <label for="nome">Nome</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="Digite o nome do usuário"
      [(ngModel)]="user.name"
    />
    <button class="busca" (click)="getUserByName()"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #ffffff;"></i></button>
    <label for="email">E-mail</label>
    <input
      type="text"
      name="email"
      id="email"
      placeholder="Digite o e-mail do usuário"
      [(ngModel)]="user.email"
    />
    <label for="senha">Senha</label>
    <input
      type="password"
      name="senha"
      id="senha"
      placeholder="Digite a senha do usuário"
      [(ngModel)]="user.password"
    />
  <div class="radio-group">
    <label for="roles-title">Tipo de usuário</label>
    <label for="roles">
      <input
        type="radio"
        name="roles"
        value="ADMIN,USER"
        [(ngModel)]="user.roles"
      />
      ADM
    </label>
    <label for="roles">
      <input type="radio" name="roles" value="USER" [(ngModel)]="user.roles" />
      USER
    </label>
  </div>
  <div class="botao">
    <button class="salvar" (click)="insertUser()">Salvar <i class="fa-solid fa-floppy-disk fa-lg" style="color: #ffffff; margin-left: 16px"></i></button>
  </div>
</div>
