@import "../../../../dist/SCSS/variaveis.scss";


.form-container {
  margin: auto;
  margin-top: 50px;
  width: 1050px;
  height: 450px;
  flex-shrink: 0;
  border-radius: 20px;
  background: $primary-color;
  box-shadow: 7px 7px 15px 0px rgba(148, 148, 148, 0.459);

  h2 {
    width: 806px;
    height: 43px;
    color: $fourth-color;
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding-top: 33px;
    margin-left: 13%;
  }
}


