<div class="form-container">
  <h2>Preencha os dados para criar o card do colaborador!</h2>
  <div class="componente">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" [(ngModel)]="nome">
  </div>
  <div class="componente">
    <label for="cargo">Cargo</label>
    <input type="text" name="cargo" id="cargo" placeholder="Digite seu cargo" [(ngModel)]="cargo">
  </div>
  <div class="componente">
    <label for="imagem">Imagem</label>
    <input type="file" id="imagem" name="imagem" (change)="handleFileInput($event)">
  </div>
  <div class="lista-suspensa">
    <label for="time">Time</label>
    <select id="time" [(ngModel)]="time" required>
      <option *ngFor="let item of itens" [value]="item">{{ item }}</option>
    </select>
  </div>
  <div class="botao">
    <button class="criarCard" [disabled]="!nome || !cargo || !time || !imagemNome || !imagemURL" (click)="criarCard()">Criar card</button>
  </div>
</div>

<div class="time" *ngFor="let timeColaboradores of colaboradores">
  <h3>{{ getTimeNome(timeColaboradores[0]?.time) }}</h3>
  <div class="colaboradores-container">
    <div class="colaborador" *ngFor="let colaborador of timeColaboradores">
      <div class="cabecalho">
        <div *ngIf="colaborador.imagemNome">
          <img [src]="colaborador.imagemURL" alt="Imagem do colaborador">
        </div>
        <div class="rodape">
          <h4>{{ colaborador.nome }}</h4>
          <h5>{{ colaborador.cargo }}</h5>
        </div>
      </div>
  </div>
</div>