<div class="form-container">
    <h2>Formulário para cadastro de medicamentos!</h2>
    <div class="componente">
        <label for="nome">Nome</label>
        <input type="text" [(ngModel)]="medicamento.nome" name="nome" id="nome"
            placeholder="Digite o nome do medicamento">
    </div>
    <div class="componente">
        <label for="valor">Valor</label>
        <input type="number" step=".01" [(ngModel)]="medicamento.valor" name="valor" id="valor"
            placeholder="Digite o valor">
    </div>
    <div class="botao">
        <button class="cadastro" (click)="adicionarMedicamento()">Cadastrar</button>
    </div>
</div>